.path-nav {
    font-size: 12px;
    padding: 15px 0;
    height: 18px;
    line-height: 18px;
    border-bottom: 1px solid #eaeceb;
    margin-bottom: 15px;

    a {
        color: #666;
    }

    .iconfont {
        font-size: 12px;
    }
}