* {
	box-sizing: border-box;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.whiteheader {
	background-color: white;
} 
.width80{
	width:80% !important;
} 
.width90 {
	width:90% !important;
}
.mgcenter {
	margin :0 auto;
}
.ptnone{
	padding-top: 0 !important;
}
.star {
	display: inline-block;
	width: 38rem / $pxConvertRem;
	height: 36rem / $pxConvertRem;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 100% 100%;
	background-position: center center;

}
.fruitcommoninorder {
	text-align: left;
	padding-left: 43rem / $pxConvertRem;
}
.whiteheader {
	background-color: white;
}
.index_header {
	position: relative;
}
.iconwrapper {
	position: absolute;
	right: 20rem / $pxConvertRem;
	top: 20rem / $pxConvertRem;
}
.stargreen  {
	background-image: url(../img/star.png)
}
.starwhite  {
	background-image: url(../img/star1.png)
}
.score {
	font-size: 28rem / $pxConvertRem;
	color: #A8CA03;
}
.comment-icon {

}
.comment-word {
	font-size: 28rem / $pxConvertRem;
	color: #A8CA03;
}
.fruitcat_content_wrapper {
	width: 605rem / $pxConvertRem;
	height: 333rem / $pxConvertRem;
	margin: 0 auto;
}
.fruitcat_content_detail {
	margin-top: 20rem / $pxConvertRem !important;
	background-image: url(../img/car.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	padding-top: 21rem / $pxConvertRem !important;
}
.fruitcar_detail_wrapper {
	width: 605rem / $pxConvertRem;
	margin: 0 auto;
}
.leftwrapper {
	height: 100%;
	clear: both;
}
.rightwrapper {
	height: 100%;
	overflow: hidden;
}
.fruitsaildetail {
	font-size: 28rem / $pxConvertRem;
	color: #808080;
	margin-top: 22rem / $pxConvertRem !important;
	height: 28rem / $pxConvertRem;
	line-height: 28rem / $pxConvertRem;
}
.fruitstaticwrapper {
	margin-top: 10rem / $pxConvertRem !important;
	padding-left: 40rem / $pxConvertRem;
}
.fruitstatic {
	border-radius: 10rem / $pxConvertRem;
	width: 90%;
	height: 11.5rem / $pxConvertRem;
	box-sizing: border-box;
	border: 2rem / $pxConvertRem solid #00CE1E;
	.fruitstaticdetail{
		width: 60%;
		height: 100%;
		background-color: #00CE1E;
	}
}

.fruitcar_detail {
	margin-top: 28rem / $pxConvertRem !important;
	padding-top: 29rem / $pxConvertRem;
	background-image: url(../img/car1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 546rem / $pxConvertRem;
}
.gobuy-option-wrapper {
	height: 100rem / $pxConvertRem !important;
	margin-top: 30rem / $pxConvertRem !important;
	line-height: 100rem / $pxConvertRem !important;
}
.buyoptionwarpper {
	padding-top: 18rem / $pxConvertRem;
}
.buyoption {
	width: 200rem / $pxConvertRem;
	display:table;  
	border-collapse:collapse;
	margin: 0 auto; 
	.calculate {
		display: table-cell; 
		font-size: 32rem / $pxConvertRem;
		width: 66rem / $pxConvertRem;
		height: 66rem / $pxConvertRem;
		line-height: 66rem / $pxConvertRem;
		border: 1px solid #CCC;
		
	} 
	.plus {
		background-color: #e6e6e6;
	}
}
.whitebtn {
	padding: 0 !important; 
	width: 200rem / $pxConvertRem;
	height: 100rem / $pxConvertRem ;
	font-size: 36rem / $pxConvertRem;
	line-height: 100rem / $pxConvertRem ;
	color: #00CE1E;
	border: 1px solid #00CE1E !important;
	border-radius: 10rem / $pxConvertRem ;
	background-color: white;
}
.greenbtn {
	padding: 0 !important; 
	width: 200rem / $pxConvertRem;
	height: 100rem / $pxConvertRem ;
	font-size: 36rem / $pxConvertRem;
	line-height: 100rem / $pxConvertRem ;
	color: white;
	border: none;
	border-radius: 10rem / $pxConvertRem ;
	background-color: #00CE1E;
}
.bgcommon {
	background-color: white;
	padding-top: 33rem / $pxConvertRem !important;
	padding-bottom: 33rem / $pxConvertRem !important;
}
.mt10 {
	margin-top: 10rem / $pxConvertRem !important;
}
.detail_item {
	margin-bottom: 24rem / $pxConvertRem;
	&:last-child {
		margin-bottom: 0 !important;
	}
}
.lab_title {
	font-size: 28rem / $pxConvertRem;
	color: #999;
}
.lab_conent {
	font-size: 28rem / $pxConvertRem;
	color: #333;
}
.lab_input {
	border: none;
	font-size: 28rem / $pxConvertRem;
	height: 100%;
	line-height: 100%;
	width: 90%;
	padding-left:5px;
	color: #333;
}
.lab_input::-webkit-input-placeholder { 
	color: #999; 
	font-size : 28rem / $pxConvertRem;
	height: 100%;
	line-height: 100%;
	margin-top:5rem / $pxConvertRem;
}
.qr_bottom_content {
	padding-top: 30rem / $pxConvertRem;
}
.qr_wrapper {
	margin: 0 auto !important;
	width: 160rem / $pxConvertRem;
	height: 160rem / $pxConvertRem;
	img {
		width: 100%;
		height: 100%;
	}
}
.optionattention {
	color: #999;
	font-size: 24rem / $pxConvertRem;
	line-height: 24rem / $pxConvertRem;
	text-align: left;
	width: 80%;
	margin: 10rem / $pxConvertRem auto;
}
.feedbackdes {
	margin-top: 40rem / $pxConvertRem;
	color: #999;
	font-size: 24rem / $pxConvertRem;
	line-height: 24rem / $pxConvertRem;
}
.feedback_bottom_content {
	padding-top: 12rem / $pxConvertRem;
	padding-bottom: 12rem / $pxConvertRem;
}
.btn_wrapper {
	width: 600rem / $pxConvertRem !important;
	height: 100rem / $pxConvertRem;
	margin: 0 auto;
}
.defaultbtn {
	display: block;
}
.btn {
	border: none;
	background-color: #00CE1E;
	width: 100%;
	height: 100rem / $pxConvertRem;
	line-height: 100rem / $pxConvertRem;
	color: white;
	font-size: 36rem / $pxConvertRem;
	text-align: center;
	border-radius: 10rem / $pxConvertRem;
}
.btn[disabled],
.disabled
 {
	cursor: not-allowed;
  	filter: alpha(opacity=65);
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	opacity: .65;
  	background-color:#a2a2a2;
}
.selectitemwrapper {
	display: table;
	border-collapse:collapse;
	width: 98%;
	margin: 0 auto;
	.seletitemrow{
		height: 102rem / $pxConvertRem;
		width: 100%;
		border-bottom: 1px solid #ccc;
		.seleteitemcol {
			display: table-cell; 
			border-top: 1px solid #ccc;
			width: 100%;
			height: 100%;
			line-height: 102rem / $pxConvertRem;
			text-align: left;
		}
	}
}
.fruitchoosebar {
	margin-right: 20rem / $pxConvertRem;
	width: 50rem / $pxConvertRem;
	height: 50rem / $pxConvertRem;
}
.modalwrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0,0,1,0.8);
	left:0;
	top: 0;
	right: 0;
	bottom: 0;
}
.modal {
	width: 369.5rem / $pxConvertRem;
	height: 300rem / $pxConvertRem;
	margin: 10rem / $pxConvertRem auto;
	background-color: white;
	display: table;
	border-radius: 10rem / $pxConvertRem;
	.modalheader {
		display: table-cell;
		border: 1px solid #00CE1E;
		width: 100%;
		height: 200rem / $pxConvertRem;
		line-height: 200rem / $pxConvertRem;
		text-align: center;
		border-top-left-radius: 10rem / $pxConvertRem;
		border-top-right-radius: 10rem / $pxConvertRem;
		position: relative;
		.close {
			position: absolute;
			display: block;
			right: 10rem / $pxConvertRem;
			top: 10rem / $pxConvertRem;
			font-size: 30rem / $pxConvertRem;
			line-height: 30rem / $pxConvertRem;
			color: #ccc;
		}
	}
	.modelcontent {
		display: table-cell;
		border-bottom-right-radius: 10rem / $pxConvertRem;
		border-bottom-left-radius: 10rem / $pxConvertRem;
		border: 1px solid #00CE1E;
		width: 100%;
		height: 100rem / $pxConvertRem;
		line-height: 100rem / $pxConvertRem;
		.btnwrapper_left, .btnwrapper_right{
			width: 50%;
			height: 80rem / $pxConvertRem;
			float: left;
			margin-top: 10rem / $pxConvertRem;
		}
		.btnwrapper_right {
			border-left: 1px solid #00CE1E;
		}
		.btnconfirm {
			display: block;
			width:100%;
			height: 100%;
			color: #00CE1E;
			border: none;
			background-color: white;
			font-size: 45rem / $pxConvertRem;
		}
		.btncancel {
			display: block;
			width:100%;
			height: 100%;
			color: #808080;
			border: none;
			background-color: white;
			font-size: 45rem / $pxConvertRem;
		}
	}
}