.fruitcardetail {
		background-image: url(../img/card-01.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 90%;
		height: 175rem / $pxConvertRem;
		margin: 0 auto;
		.fruitbrandname ,
		.fruitaddr{
			text-align: center;
		}
}
.fruitbrandnamewrapper{
	padding-top: 21rem / $pxConvertRem;
}
.feedback-logo {
	margin: 0 auto;
	background-image: url(../img/feedback.png);
	background-position: center center;
	background-size: 100% 100%;
	width: 43rem / $pxConvertRem;
	height: 40rem / $pxConvertRem;
	line-height: 44rem / $pxConvertRem;
}
.feedback-word ,
.share-word,
{
	margin-top: 5rem / $pxConvertRem;
	display: block;
	font-size: 20rem / $pxConvertRem;
	height: 20rem / $pxConvertRem;
	line-height: 20rem / $pxConvertRem;
	color: #808080;
}
.share-logo {
	margin: 0 auto;
	background-image: url(../img/share.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center 0;
	width: 38rem / $pxConvertRem;
	height: 44rem / $pxConvertRem;
	line-height: 44rem / $pxConvertRem;
}
.starcomment {
	margin-top: 10rem / $pxConvertRem !important;
}
.fruitcar_detail {
	.imgwrapper {
		margin: 0 auto !important;
		width: 360rem / $pxConvertRem !important;
		height: 360rem / $pxConvertRem !important;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.description {
		width: 60%;
		padding-top: 20rem / $pxConvertRem;
		margin: 0 auto;
		overflow: hidden;
		.tag-status {
			margin-left: 0 !important;
		}
	}

}